
.nav-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 24px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 100;

    a {
        text-decoration: none;
    }
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
        height: 60px;
        margin-right: 16px;
    }

    h2 {
        margin: 0;
        color: #ffffff;
        font-size: 32px;
    }
}

.links {
    display: flex;
    flex: 1;
    justify-content: flex-end;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    li {
        float: left;

        a {
            display: block;
            color: #ffffff;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 21px;

            &:hover,
            &:active,
            &.active {
                color: #40EEBB;
            }
        }
        
    }
}